@import "variables";
@import "material-icons";
@import "~materialize-css/sass/materialize";
@import "~plyr/src/scss/plyr";

.thumb.active {
  display: none;
}

.plyr--audio .plyr__controls {
  border: 0;
}

.song-header {
  overflow: hidden;
  .song-icon {
    margin-top: 2px;
    float: left;
  }
  .song-info {
    overflow: hidden;
    line-height: 1.5rem;
    padding: 10px 0px 11px 4px;
    span {
      display: block;
    }
    .song-title {
      font-size: 13px;
      color: #50a191;
    }
  }
}

.song-body {
  p {
    padding: 0;
    margin: 1rem;
    .btn {
      border-radius: 0;
      width: 100%;
    }
  }
}
